<div id="<%= dom_id match %>">
  <p>
    <strong>Date:</strong>
    <%= match.date %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= match.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= match.end_time %>
  </p>

  <p>
    <strong>Winner:</strong>
    <%= match.winner %>
  </p>

</div>
